<!-- Main Content Header -->
<div class="main-content-header">
    <h1>Portfolio</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="<%= dashboard_analytics_path %>">Portfolio</a>
        </li>
        <li class="breadcrumb-item active">
            <span class="active">Stats</span>
        </li>
    </ol>
</div>
<!-- End Main Content Header -->

<!-- Visitors Overview -->
<div class="row">
    <div class="col-lg-4">
        <div class="card mb-30">
            <div class="card-body">
                <div class="card-header">
                    <h5 class="card-title">Portfolio by Position</h5>
                </div>
                <div id="apex-simple-pie-chart" class="mh-100"></div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card mb-30">
            <div class="card-body">
                <div class="card-header">
                    <h5 class="card-title">Portfolio by League</h5>
                </div>

                <div id="apex-simple-pie-chart-1" class="mh-100"></div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card mb-30">
            <div class="card-body">
                <div class="stats-card-two analytics-card">
                    <div class="media align-items-center">
                        <div class="avatar avatar-blue">
                            <i data-feather="user"></i>
                        </div>
                        <div class="ml-15">
                            <p class="mb-7 line-height-1">Largest Exposure By Player</p>
                            <h4 class="mb-0 fs-20">530,890</h4>
                        </div>
                        <span class="badge badge-cyan fs-12 position-right">
                            <i class="icofont-swoosh-up"></i>
                            <span class="fw-600 m-l-5">8.70%</span>
                        </span>
                    </div>
                </div>

                <div class="stats-card-two analytics-card">
                    <div class="media align-items-center">
                        <div class="avatar avatar-cyan">
                            <i data-feather="layers"></i>
                        </div>
                        <div class="ml-15">
                            <p class="mb-7 line-height-1">Most Shares</p>
                            <h4 class="mb-0 fs-20">25,890</h4>
                        </div>
                        <span class="badge badge-cyan fs-12 position-right">
                            <i class="icofont-swoosh-up"></i>
                            <span class="fw-600 m-l-5">7.60%</span>
                        </span>
                    </div>
                </div>

                <div class="stats-card-two analytics-card">
                    <div class="media align-items-center">
                        <div class="avatar avatar-purple">
                            <i data-feather="users"></i>
                        </div>
                        <div class="ml-15">
                            <p class="mb-7 line-height-1">Largest Exposure by Team</p>
                            <h4 class="mb-0 fs-20">50,890</h4>
                        </div>
                        <span class="badge badge-cyan fs-12 position-right">
                            <i class="icofont-swoosh-up"></i>
                            <span class="fw-600 m-l-5">6.75%</span>
                        </span>
                    </div>
                </div>

                <div class="stats-card-two analytics-card">
                    <div class="media align-items-center">
                        <div class="avatar avatar-blue">
                            <i data-feather="user"></i>
                        </div>
                        <div class="ml-15">
                            <p class="mb-7 line-height-1">Average Age</p>
                            <h4 class="mb-0 fs-20">42.7%</h4>
                        </div>
                        <span class="badge badge-red fs-12 position-right">
                            <i class="icofont-swoosh-down"></i>
                            <span class="fw-600 m-l-5">4.70%</span>
                        </span>
                    </div>
                </div>

                <div class="stats-card-two analytics-card">
                    <div class="media align-items-center">
                        <div class="avatar avatar-gold">
                            <i data-feather="box"></i>
                        </div>
                        <div class="ml-15">
                            <p class="mb-7 line-height-1">Profit if Instant Sold</p>
                            <h4 class="mb-0 fs-20">52.7%</h4>
                        </div>
                        <span class="badge badge-red fs-12 position-right">
                            <i class="icofont-swoosh-down"></i>
                            <span class="fw-600 m-l-5">5.70%</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
